

/*通用样式结束*/
body{
background:#f8f8f8;
}
/*banner*/
.banner{
    height:599px;
    background: url("../img/media_banner.png") no-repeat top center;
    background-size: auto 100%;
}

/*内容区域*/
.content{
    width:1140px;
    background:#fff;
    margin:-215px auto 150px auto;
    position: relative;
    padding:100px 120px;

}
.content>h5{
    text-align: center;
    color:#444;
    font-size: 42px;
}

.content>h6{
    text-align: center;
    color:#888;
    font-size: 16px;
    margin-bottom:50px;
}
.time{
    width:96px;
    float: left;
}
.time .day{
    font-size: 32px;
    color:#ffc35a;
    text-align: center;
    text-indent:0;
}
.time .year{
    font-size: 16px;
    color:#ccc;
    line-height: 30px;
    border-top: 1px solid #ccc;
    text-align: center;
    text-indent:0;
}
.pic{
    margin-left: 150px;
}
.pic img{
    margin-left:30px;
}

.media_in h5:nth-child(5){
    font-size: 22px;
    color:#222;
    font-weight: bold;
    text-align: left;
    line-height: 50px;
}

.media_in p{
    font-size: 16px;
    color:#666;
    text-align: justify;
    text-indent: 32px;
}
.beian{
    color:#384364;text-align: center;font-size: 14px;line-height: 30px;margin:0;
}
.title{
    padding-left:120px;
}
.title h5{
    font-size: 28px;
    font-weight: 500;
}



/*响应式*/



@media screen and (max-width: 970px){
    /*.navbar-header{*/
        /*background:rgba(34,34,34,0.4);*/

    /*}*/
    /*.nav{*/
        /*margin-left:0;*/
        /*background:rgba(34,34,34,0.8);*/
        /*border-radius:1px;*/
        /*margin-top:-0.1rem;*/
    /*}*/
    /*.navbar-header{*/
        /*background:rgba(34,34,34,0.4);*/

    /*}*/
    /*.navbar-collapse {*/
        /*padding:0;*/
        /*margin:0;*/
    /*}*/
    /*.navbar-nav>li:nth-child(5){*/
        /*display: none;*/
    /*}*/

    /*.navbar-default .navbar-nav>li>a{*/
        /*font-size: 0.36rem;*/
        /*color:#fff;*/
        /*line-height: 1.5rem;*/
        /*text-align: left;*/
        /*margin-left:0.5rem;*/
    /*}*/
    /*.navbar-default .navbar-nav>.active>a{*/
        /*font-size: 0.45rem;*/
        /*color:#fff;*/
        /*background:none;*/
        /*line-height: 1.5rem;*/
        /*text-align: left;*/
        /*margin-left:0.5rem;*/

    /*}*/
    /*底部区域调整*/
    .footer_nav ul li{
        margin-left:0.1rem;
    }
    .footer_nav ul li a{
        font-size: 0.26rem;
        line-height:0.22rem;
        margin-left: 0.06rem;
        color:#384364;
    }
    .footer_nav ul li .last{
        color:#ff8a00;
    }
    .beian{
        color:#384364;text-align: center;font-size: 0.12rem;line-height: 0.3rem;margin:0;
    }
    /*通用*/
    body{
        background:#fff;
    }
    .content {
        width: 100%;
        background: #fff;
        margin: 0;
        position: relative;
        padding: 0 0.2rem;
        padding-top:1rem;
    }
    .title {
        height: 1rem;
        width:100%;
        padding:0;
        margin-bottom:1rem;
    }
    .title h5 {
        font-size: 0.32rem;
        color: #222;
        font-weight: bold;
        text-align: center;
        line-height: 1rem;
    }
    .media_in p img{
        width:100%;
        height:auto;
        display: block;
    }
    .time {
        width: 1.5rem;
        float: left;
    }
    .time .day {
        font-size: 0.32rem;
        color: #ffc35a;
        text-align: center;
        text-indent: 0;
    }
    .time .year {
        font-size: 0.28rem;
        color: #ccc;
        text-align: center;
        text-indent: 0;
    }
    .media_in p {
        font-size: 0.24rem;
        color: #666;
        text-align: justify;
        text-indent: 0.36rem;
    }
    .banner {
        height: 1rem;
        background: #fff;
        background-size: auto 100%;
    }
    .content>h5 {
        text-align: center;
        color: #444;
        font-size: 0.42rem;
    }
    .content>h6 {
        text-align: center;
        color: #444;
        font-size: 0.24rem;
    }
    /*底部部分通用样式*/
    .footer_icon img {
        width: 1.2rem;
        height: 1.2rem;
        display: block;
        margin: 0 auto;
    }
    .cooperation {
        margin-top: 0.5rem;
    }
    .index_erwei {
        margin:0.5rem auto;
    }
    .footer{
        padding-top:0.25rem;
    }
    .footer_icon{
        display: none;
    }
}