body{
background:#f8f8f8;
}
/*banner*/
.banner{position:relative}
.banner img{
    display:block;
    width:100%;

}
.growth_down{
    width:41px;
    position:absolute;
    left:49%;
    top:43%;
}
.txt{
    padding-left:100px;
    background:url("../img/conpany_txt.png") no-repeat right center;
    height:520px;
    padding-top:100px;
}
.txt p{
    width:600px;
    color:#666;
    font-size: 18px;
    margin-bottom:30px;
    text-align: justify;
}

.company_bg{
    width:1000px;
    margin:10px auto 0 auto;
    background:url("../img/company_bg.png") no-repeat left top;
    background-size: 100% auto;
    height:1200px;
    padding-top:900px;
    box-sizing: border-box;
}

.company_bg p{
    color:#666;
    font-size: 16px;
    text-align: justify;
    width:800px;
    margin:0 auto;
}

.company_bg p b{
    font-size: 42px;
    color:#775b3e;
    font-weight: bold;

}




/*响应式*/


@media screen and (max-width: 970px){
    /*.navbar-header{*/
        /*background:rgba(34,34,34,0.4);*/

    /*}*/
    /*.nav{*/
        /*margin-left:0;*/
        /*background:rgba(34,34,34,0.8);*/
        /*border-radius:1px;*/
        /*margin-top:-0.1rem;*/
    /*}*/
    /*.navbar-header{*/
        /*background:rgba(34,34,34,0.4);*/

    /*}*/
    /*.navbar-collapse {*/
        /*padding:0;*/
        /*margin:0;*/
    /*}*/
    /*.navbar-nav>li:nth-child(5){*/
        /*display: none;*/
    /*}*/

    /*.navbar-default .navbar-nav>li>a{*/
        /*font-size: 0.36rem;*/
        /*color:#fff;*/
        /*line-height: 1.5rem;*/
        /*text-align: left;*/
        /*margin-left:0.5rem;*/
    /*}*/
    /*.navbar-default .navbar-nav>.active>a{*/
        /*font-size: 0.45rem;*/
        /*color:#fff;*/
        /*background:none;*/
        /*line-height: 1.5rem;*/
        /*text-align: left;*/
        /*margin-left:0.5rem;*/

    /*}*/
    /*底部区域调整*/
    .footer_nav ul li{
        margin-left:0.1rem;
    }
    .footer_nav ul li a{
        font-size: 0.26rem;
        line-height:0.22rem;
        margin-left: 0.06rem;
        color:#384364;
    }
    .footer_nav ul li .last{
        color:#ff8a00;
    }
    .beian{
        color:#384364;text-align: center;font-size: 0.12rem;line-height: 0.3rem;margin:0;
    }
    /*通用*/
    .txt {
        background:#f8f8f8;
        height: auto;
        padding:0.3rem 0.2rem;
    }
    #passage{
        font-size: 0.3rem!important;
        text-align: justify;
    }
    #passage b{
        font-size: 0.42rem!important;
    }



    .txt p {
        width:100%;
        color: #666;
        font-size: 0.24rem;
        margin-bottom: 0.2rem;
        text-align: justify;
    }

   .company_bg {
        width: 100%;
        margin:0;
        background: #f8f8f8;
        background-size: 100% auto;
       height:auto;

        box-sizing: border-box;
    padding:0 0.2rem;
    margin-bottom:0.5rem;
    }
.company_bg p {
    color: #666;
    font-size: 0.24rem;
    text-align: justify;
    width: 100%;
    margin: 0 auto;
}
.company_bg p b {
    font-size: 0.42rem;
    color: #775b3e;
    font-weight: bold;
}
    /*底部部分通用样式*/
    .footer_icon img {
        width: 1.2rem;
        height: 1.2rem;
        display: block;
        margin: 0 auto;
    }
    .cooperation {
        margin-top: 0.5rem;
    }
    .index_erwei {
        margin:0.5rem auto;
    }
    .footer{
        padding-top:0.25rem;
    }
    .footer_icon{
        display: none;
    }
}